@import url("./reset.css");
@import url("./fonts.css");
@import url("./grid-system.css");
@import url("./_slider.css");

:root{
    --white: #ffffff;
    --black: #3f3f3f;
    --green: #21aa58;
    --light-green: #00d170;
}

body{
    font-family: "IRANSans";
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* start header section styles */
.header-section-wrapper-snapp{
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 11.5%;
    border-bottom: 1px solid #e5e5e5;
    background-color: var(--white);
    position: fixed; 
    top: 0;
    z-index: 10;
}

.wrapper-menu-header-snapp{
    display: flex;
}

.item-menu-header-snapp > a{
    margin-right: 32px;
    color: var(--black);
}

.has-sub-menu{
    position: relative;
}

.has-sub-menu a svg{
    transform: rotate(90deg);
    margin-right: 10px;
}

.submenu-header-snapp{
    position: absolute;
    width: 170px;
    padding: 6px 4px;
    border: 1px solid #dedede;
    border-radius: 9px;
    background-color: var(--white);
    display: none;
}

.submenu-item-snapp{
    padding: 0.5rem 1rem;
    text-align: right;
}

.submenu-item-snapp a{
    color: var(--black);
}

.submenu-item-snapp a:hover{
    color: var(--light-green);
    font-weight: bold;
}

.has-sub-menu:hover .submenu-header-snapp{
    display: block;
}
/* end header section styles */

/* start intro section styles */
.intro-section-wrapper-snapp{
    width: 100%;
    min-height: 421px;
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}

.inner-right-box-intro-snapp{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--green);
    color: var(--white);
    padding: 32px 15% 32px 32px;
}

.inner-left-box-intro-snapp{
    width: 50%;
    background-image: url("../img/person.jpg");
    background-position: center center;
    background-size: cover;
    transform: rotateY(180deg);
}

.inner-right-box-intro-snapp .main-title-snapp {
    font-size: 36px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.inner-right-box-intro-snapp .main-text-snapp{
    font-size: 20.3px;
    padding: 1rem 0;
    font-weight: 300;
}

.inner-right-box-intro-snapp form{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inner-right-box-intro-snapp form input{
    width: 318px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    text-align: right;
    padding: 0 0.5rem;
    line-height: 48px;
}

.inner-right-box-intro-snapp form input::placeholder{
    color: #B8E4CC;
}

.inner-right-box-intro-snapp form button{
    margin-right: 1rem;
    background-color: var(--white);
    color: var(--light-green);
    border: none;
    border-radius: 6px;
    padding: 0 0.5rem;
    font-size: 14px;
    font-weight: 700;
    width: 25%;
    height: 40px;
    cursor: pointer;
}

.inner-right-box-intro-snapp .btn-intro-section-snapp{
    margin-top: 2rem;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 700;
    width: 318px;
    height: 48px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.inner-right-box-intro-snapp .btn-intro-section-snapp:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
/* end intro section styles */

/* start download section styles */
.download-section-wrapper-snapp{
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15%;
}

.download-link-app-snapp img{
    width: 160px;
}
/* end download section styles */

/* start services section styles */
.services-section-wrapper-snapp{
    background-color: #f2f5f8;
    padding: 0 15% 40px 15%;
    margin-bottom: 40px;
}

.services-section-title-snapp{
    padding: 40px 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    color: #404040;
}

.services-items-wrapper-snapp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-item-snapp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    border-radius: 18px;
    margin: 1rem;
    padding: 0.5rem 0;
    width: 29%;
    max-width: 321px;
}

.services-item-snapp img{
    width: 62px;
    height: 62px;
    margin: 0 0.5rem;
}

.box-titles-snapp{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.box-titles-snapp h3{
    margin: 0.25rem 0;
    font-size: 16px;
    font-weight: 700;
    color: #404040;
}

.box-titles-snapp p{
    font-size: 14px;
    font-weight: 300;
    color: #a3a3a3;
}

.services-items-wrapper-snapp .services-item-snapp:nth-child(7) img{
    transform: scale(1.16);
    transform-origin: right bottom;
}
/* end services section styles */

/* start slider section styles */
.slider-section-wrapper-snapp{
    margin: 40px 0 32px;
    padding: 40px 15%;
}

.slider-section-wrapper-snapp .keen-slider{
    border-radius: 10px;
}

[class*="number-slide"]{
    width: 100%;
    height: 438px;
    background-size: cover;
    background-position: center center;
}

.number-slide-1{
    background-image: url('../img/driver-slider.jpg');
}

.number-slide-2{
    background-image: url('../img/food-slider.jpg');
}

.number-slide-3{
    background-image: url('../img/market-slider.jpg');
}
/* end slider section styles */

/* start banner section styles */
.banner-section-wrapper-snapp{
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: flex-start;
}

.inner-right-box-banner-snapp{
    width: 50%;
    background-image: url("../img/super-app.jpg");
    background-size: cover;
    background-position: left center;
}

.inner-left-box-banner-snapp{
    width: 50%;
    padding: 16px 40px 0 15%;
    display: flex;
    flex-direction: column;
}

.inner-left-box-banner-snapp h2{
    font-size: 22px;
    margin: 1rem 0 0.5rem;
    color: #404040;
}

.inner-left-box-banner-snapp p{
    font-size: 14px;
    margin: 0.5rem 0;
    color: #404040;
    text-align: justify;
}
/* end banner section styles */

/* start benefits section styles */
.benefits-section-wrapper-snapp{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    padding: 0 15%;
    position: relative;
    bottom: 55px;
}

.benefits-items-snapp{
    width: 25%;
    margin: 0 2rem;
    color: #404040;
}

.benefits-items-snapp div:first-child{
    background-color: #f2f5f8;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}

.benefits-items-snapp h5{
    font-size: 17px;
    font-weight: 700;
    margin: 1rem 0;
}

.benefits-items-snapp p{
    font-size: 12px;
    font-weight: 300;
}
/* end benefits section styles */

/* start video section styles */
.video-section-wrapper-snapp{
    background-color: #f2f5f8;
    color: #404040;
    margin-top: 40px;
    padding: 40px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-section-wrapper-snapp h2{
    font-size: 36px;
    font-weight: 700;
}

.video-section-wrapper-snapp > p{
    font-size: 20px;
    padding: 1rem 0;
}

.video-section-wrapper-snapp button{
    font-size: 17px;
    font-weight: 700;
    background-color: var(--light-green);
    color: var(--white);
    margin: 1rem 0;
    padding: 0 2rem;
    border: none;
    border-radius: 6px;
    height: 48px;
}

.video-section-wrapper-snapp button:hover{
    background-color: #00db75;
}

.video-section-wrapper-snapp video{
    width: 100%;
    border-radius: 10px;
    margin: 40px 0;
}

.bottom-video-section-snapp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-video-item-snapp{
    background-color: var(--white);
    color: #404040;
    height: 200px;
    width: 49%;
    margin-top: 2rem;
    padding: 0 2rem;
    border-radius: 18px;
    display: flex;
    align-items: center;
}

.bottom-video-item-snapp img{
    width: 120px;
    height: auto;
}

.bottom-video-title-snapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
}

.bottom-video-title-snapp h6{
    padding: 0.5rem 0;
    font-size: 16px;
    font-weight: 700;
}

.bottom-video-title-snapp p{
    font-size: 14px;
    font-weight: 300;
}
/* end video section */

/* start footer section styles */
.footer-section-wrapper-snapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 11.5%;
}

.nav-footer-snapp{
    max-width: 1000px;
    display: flex;
}

.nav-footer-snapp li a{
    margin-left: 0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    color: #404040;
}

.footer-section-wrapper-snapp .social{
    display: flex;
    gap: 8px;
    margin: 1.5rem 0;
}
/* end footer section styles */