@import url('./reset.min.css');
@import url('./fonts.css');

:root{
    --white: #ffffff;
    --black: #3f3f3f;
    --green: #21aa58;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IRANSans";
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* start header section styles */
.header-section-wrapper-snapp{
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 11.5%;
    border-bottom: 1px solid #e5e5e5;
    background-color: var(--white);
    position: sticky; 
    top: 0;
    z-index: 10;
}

.logo-header-snapp{
    display: flex;
    margin-left: 0.5rem;
}

.wrapper-menu-header-snapp{
    display: flex;
    align-items: center;
}

.item-menu-header-snapp > a{
    margin-right: 1.5rem;
    color: var(--black);
}

.has-sub-menu{
    position: relative;
}

.has-sub-menu a svg{
    transform: rotate(90deg);
    margin-right: 8px;
    vertical-align: -3px;
}

.submenu-header-snapp{
    position: absolute;
    width: 170px;
    padding: 6px 4px;
    border: 1px solid #dedede;
    border-radius: 9px;
    background-color: var(--white);
    display: none;
}

.submenu-item-snapp{
    padding: 0.5rem 1rem;
    text-align: right;
}

.submenu-item-snapp a{
    color: var(--black);
}

.has-sub-menu:hover .submenu-header-snapp{
    display: block;
}

.wrapper-menu-header-snapp input#hamburger{
    display: none;
}

.bars-header-snapp{
    display: none;
    padding: 0.5rem;
}

.bars-header-snapp:hover{
    background-color: #eeeeef;
    border-radius: 5px;
}

.bars-header-snapp .bars{
    width: 20px;
    height: 2px;
    background-color: rgb(34, 169, 88);
    display: block;
    margin: 4px 0;
    transition: transform .5s ease, opacity .25s ease;
}

.wrapper-menu-header-snapp input#hamburger:checked ~ label .bar-top{
    transform: translateY(6px) rotate(-45deg);
}

.wrapper-menu-header-snapp input#hamburger:checked ~ label .bar-middle{
    opacity: 0;
}

.wrapper-menu-header-snapp input#hamburger:checked ~ label .bar-bottom{
    transform: translateY(-6px) rotate(45deg);
}

@media only screen and (max-width:768px){
    .header-section-wrapper-snapp{
        height: 64px;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 7%;
    }
    .item-menu-header-snapp{
        display: none;
    }
    .bars-header-snapp{
        display: block;
    }
}
/* end header section styles */

/* start intro section styles */
.intro-section-wrapper-snapp{
    width: 100%;
    min-height: 464px;
    display: flex;
    justify-content: space-between;
}

.inner-right-box-intro-snapp{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--green);
    color: var(--white);
    padding: 2rem 10% 2rem 4rem;
}

.inner-left-box-intro-snapp{
    width: 50%;
    background-image: url("../../assets/img/person.jpg");
    background-position: center center;
    background-size: cover;
}

.inner-right-box-intro-snapp .main-title-snapp {
    font-size: 36px;
    line-height: 1.8;
    font-weight: 700;
    margin-bottom: 1rem;
}

.inner-right-box-intro-snapp .main-text-snapp{
    font-size: 20.3px;
    padding: 1rem 0;
    font-weight: 300;
}

.inner-right-box-intro-snapp form{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inner-right-box-intro-snapp form input{
    width: 240px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    text-align: right;
    padding: 0 0.5rem;
    line-height: 48px;
}

.inner-right-box-intro-snapp form input::placeholder{
    color: var(--white);
}

.inner-right-box-intro-snapp form button{
    margin-right: 1rem;
    background-color: var(--white);
    color: var(--green);
    border: none;
    border-radius: 6px;
    padding: 0 0.5rem;
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    height: 48px;
    cursor: pointer;
}

.inner-right-box-intro-snapp .btn-intro-section-snapp{
    margin-top: 2rem;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 700;
    width: 100%;
    height: 48px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.inner-right-box-intro-snapp .btn-intro-section-snapp:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width:768px){
    .inner-left-box-intro-snapp{
        display: none;
    }
    .inner-right-box-intro-snapp{
        width: 100%;
        padding: 1rem;
    }
    .inner-right-box-intro-snapp form{
        display: none;
    }
    .inner-right-box-intro-snapp .main-title-snapp{
        text-wrap: wrap;
    }
    .inner-right-box-intro-snapp .main-text-snapp{
        line-height: 1.7;
    }
}
/* end intro section styles */

/* start download section styles */
.download-section-wrapper-snapp{
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 23%;
}

.download-link-app-snapp img{
    width: 160px;
}

@media only screen and (max-width:768px){
    .download-section-wrapper-snapp{
        display: none;
    }
}
/* end download section styles */

/* start services section styles */
.services-section-wrapper-snapp{
    padding: 0 10% 40px 10%;
    margin-bottom: 40px;
}

.services-section-title-snapp{
    padding: 40px 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    color: #404040;
}

.services-items-wrapper-snapp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-item-snapp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    border-radius: 18px;
    margin: 1rem;
    padding: 0.5rem 0;
    width: 29%;
    max-width: 321px;
}

.services-item-snapp img{
    width: 62px;
    height: 62px;
    margin: 0 0.5rem;
}

.box-titles-snapp{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.box-titles-snapp h3{
    margin: 0.25rem 0;
    font-size: 14px;
    font-weight: 700;
    color: #404040;
}

.box-titles-snapp p{
    font-size: 14px;
    font-weight: 300;
    color: #a3a3a3;
}

.services-items-wrapper-snapp .services-item-snapp:nth-child(7) img{
    transform: scale(1.16);
    transform-origin: right bottom;
}

@media only screen and (max-width:768px){
    .services-section-wrapper-snapp{
        padding: 0 1rem 2rem 1rem;
        margin-bottom: 4rem;
    }
    .services-section-title-snapp{
        font-size: 20px;
        padding: 24px 0;
    }
    .box-titles-snapp p{
        display: none;
    }
    .services-items-wrapper-snapp{
        justify-content: space-around;
    }
    .services-item-snapp{
        flex-direction: column;
        width: 20%;
    }
    .services-item-snapp img{
        width: 48px;
        height: 48px;
    }
    .box-titles-snapp{
        padding: 0;
    }
    .box-titles-snapp h3{
        text-align: center;
        line-height: 1.7;
    }
}
/* end services section styles */

/* start slider section styles */
.slider-section-wrapper-snapp{
    margin: 40px 0 32px;
    padding: 40px 15%;
}

.slider-section-wrapper-snapp .keen-slider{
    border-radius: 10px;
}

[class*="number-slide"]{
    width: 100%;
    height: 438px;
    background-size: cover;
    background-position: center center;
}

.number-slide-1{
    background-image: url('../../assets/img/discount-slider.webp');
}

.number-slide-2{
    background-image: url('../../assets/img/driver-slider.jpg');
}

.number-slide-3{
    background-image: url('../../assets/img/food-slider.jpg');
}

.number-slide-4{
    background-image: url('../../assets/img/market-slider.jpg');
}

@media only screen and (max-width:768px){
    .slider-section-wrapper-snapp{
        display: none;
    }
}
/* end slider section styles */

/* start banner section styles */
.banner-section-wrapper-snapp{
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: flex-start;
}

.inner-right-box-banner-snapp{
    width: 50%;
    background-image: url("../../assets/img/super-app.jpg");
    background-size: cover;
    background-position: left center;
}

.inner-left-box-banner-snapp{
    width: 50%;
    padding: 16px 40px 0 15%;
    display: flex;
    flex-direction: column;
}

.inner-left-box-banner-snapp h2{
    font-size: 22px;
    margin: 1rem 0 0.5rem;
    color: #404040;
}

.inner-left-box-banner-snapp p{
    font-size: 14px;
    margin: 0.5rem 0;
    color: #404040;
}

@media only screen and (max-width:768px){
    .banner-section-wrapper-snapp{
        flex-direction: column;
    }
    .inner-right-box-banner-snapp{
        position: absolute;
        display: block;
        width: 100%;
        height: 30%;
    }
    .inner-left-box-banner-snapp{
        width: 100%;
        padding: 1rem;
        margin: 270px 0 100px 0;
    }
    .inner-left-box-banner-snapp p{
        line-height: 1.7;
    }
}
/* end banner section styles */

/* start benefits section styles */
.benefits-section-wrapper-snapp{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 0 10%;
    position: relative;
    bottom: 80px;
}

.benefits-items-snapp{
    max-width: 375px;
    margin: 0 2rem;
    color: #404040;
}

.benefits-items-snapp div:first-child{
    background-color: #f2f5f8;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}

.benefits-items-snapp h5{
    font-size: 17px;
    font-weight: 700;
    margin: 1rem 0;
}

.benefits-items-snapp p{
    font-size: 12px;
    font-weight: 300;
}

@media only screen and (max-width:768px){
    .benefits-section-wrapper-snapp{
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        gap: 2.5rem;
    }
    .benefits-items-snapp{
        width: 100%;
    }
    .benefits-items-snapp p{
        color: #3c4151;
        font-size: 14px;
        line-height: 1.7;
    }
}
/* end benefits section styles */

/* start video section styles */
.video-section-wrapper-snapp{
    background-color: #EEEFFF;
    color: #404040;
    margin-top: 40px;
    padding: 40px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-section-wrapper-snapp h2{
    font-size: 36px;
    font-weight: 700;
}

.video-section-wrapper-snapp > p{
    font-size: 20px;
    padding: 1rem 0;
}

.video-section-wrapper-snapp button{
    font-size: 17px;
    font-weight: 700;
    background-color: var(--green);
    color: var(--white);
    margin: 1rem 0;
    padding: 0 1.5rem;
    border: none;
    border-radius: 6px;
    height: 40px;
}

.video-section-wrapper-snapp button:hover{
    background-color: #33b165;
}

.video-section-wrapper-snapp video{
    width: 100%;
    border-radius: 10px;
    margin: 40px 0;
}

.bottom-video-section-snapp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom-video-item-snapp{
    background-color: var(--white);
    color: #404040;
    height: 200px;
    width: 49%;
    margin-top: 2rem;
    padding: 0 2rem;
    border-radius: 18px;
    display: flex;
    align-items: center;
}

.bottom-video-item-snapp img{
    width: 120px;
    height: auto;
}

.bottom-video-title-snapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
}

.bottom-video-title-snapp h6{
    padding: 0.5rem 0;
    font-size: 16px;
    font-weight: 700;
}

.bottom-video-title-snapp p{
    font-size: 14px;
    font-weight: 300;
}

@media only screen and (max-width:768px){
    .video-section-wrapper-snapp{
        margin-top: 0;
        padding: 20px 1rem;
    }
    .video-section-wrapper-snapp h2{
        text-align: center;
        font-size: 32px;
        line-height: 52px;
    }
    .video-section-wrapper-snapp > p{
        text-align: center;
        line-height: 1.7;
    }
    .video-section-wrapper-snapp video{
        margin: 10px 0;
    }
    .bottom-video-section-snapp{
        flex-direction: column;
    }
    .bottom-video-item-snapp{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 220px;
        padding: 1rem;
        margin-top: 1rem;
    }
    .bottom-video-item-snapp img{
        width: 80px;
        height: auto;
    }
    .bottom-video-title-snapp{
        padding-right: 0;
    }
    .bottom-video-title-snapp h6{
        padding: 1rem 0;
    }
    .bottom-video-title-snapp p{
        line-height: 1.7;
        color: #3c4151;
    }
}
/* end video section styles */

/* start footer section styles */
.footer-section-wrapper-snapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 11.5%;
}

.nav-footer-snapp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.nav-footer-snapp li a{
    margin: 0.5rem 0 0.5rem 0.5rem;
    color: #3c4151;
}

.footer-section-wrapper-snapp .social{
    display: flex;
    gap: 2rem;
    margin: 1.5rem 0;
}

.footer-section-wrapper-snapp .social li a svg{
    font-size: 26px;
    color: #404040;
}

.footer-section-wrapper-snapp .symbols{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.footer-section-wrapper-snapp .symbols img{
    width: 130px;
    height: auto;
}

@media only screen and (max-width:768px){
    .footer-section-wrapper-snapp{
        padding: 32px 5%;
    }
    .footer-section-wrapper-snapp .social{
        gap: 1rem;
    }
}
/* end footer section styles */